[submodule "glug_power/common_headers"]
	path = glug_power/common_headers
        url = https://github.com/libglug/common_headers.git
[submodule "glug_power/tests/cunit"]
	path = glug_power/tests/cunit
	url = https://github.com/libglug/cunit.git
